@using TheSecretGarden.Enum
@model Book

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Add a new book";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a New Book</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create" class="admin-create-form" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="form-group">
                        <label class="control-label">Book Image</label>
                        <input class="form-control" type="file" accept="image/*" name="file" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Author" class="control-label"></label>
                        <input asp-for="Author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" type="number" step="0.01" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BookCategory" class="control-label"></label>
                        <select asp-for="BookCategory" class="form-control" asp-items="Html.GetEnumSelectList<BookCategory>()"></select>
                        <span asp-validation-for="BookCategory" class="text-danger"></span>
                    </div>

                    <div class="form-group" style="display: flex; justify-content: space-between;">
                        <a class="btn btn-outline-secondary" asp-action="BooksManage">Show All</a>
                        <input type="submit" value="Create" class="btn btn-outline-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>