@inject IHttpContextAccessor _contextAccessor;

@using TheSecretGarden.ViewModels
@model TotalDashboardVM

@if (_contextAccessor.HttpContext.Session.GetString("Role") == "Admin")
{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Dashboard - The Secret Garden";

    <div>
        <h1>Dashboard</h1>
        <div class="summary-container">
            <div class="total-container customers">
                <img src="~/photos/dashboard/total-customers.png" alt="total customers image" />
                <div>
                    <h3>Total Customers</h3>
                    <h3><b>@Model.totalCustomers</b></h3>
                </div>
            </div>

            <div class="total-container books">
                <img src="~/photos/dashboard/total-books.png" alt="total books image" />
                <div>
                    <h3>Total Books</h3>
                    <h3><b>@Model.totalBooks</b></h3>
                </div>
            </div>
            
            <div class="total-container orders">
                <img src="~/photos/dashboard/total-orders.png" alt="total orders image" />
                <div>
                    <h3>Total Orders</h3>
                    <h3><b>@Model.totalOrders</b></h3>
                </div>
            </div>

            <div class="total-container sales">
                <img src="~/photos/dashboard/total-sales.png" alt="total sales image" />
                <div>
                    <h3>Total Sales</h3>
                    <h3><b>$@Model.totalSales</b></h3>
                </div>
            </div>
        </div>
    </div>
}
else if (_contextAccessor.HttpContext.Session.GetString("ActiveState") == "inactive" || !Context.User.Identity.IsAuthenticated)
{
    Layout = "_NotAllowed";
    ViewData["Title"] = "Admin Page - The Secret Garden";

    <h1>Admin Page. Guests Not Allowed!</h1>
    <p>This is the admin page and guests are not allowed to visit without authorization.</p>
    <p>If you are an admin then please login</p>
    <div class="admin-btn-container not-allowed">
        <a asp-action="Index" asp-controller="Home" class="user-info-link login">Home Page</a>
        <a asp-action="LoginAccount" asp-controller="Login" class="user-info-link login">Login</a>
    </div>
}
else if (_contextAccessor.HttpContext.Session.GetString("ActiveState") == "active" && _contextAccessor.HttpContext.Session.GetString("Role") != "Admin" || Context.User.Identity.IsAuthenticated)
{
    Layout = "_NotAllowed";
    ViewData["Title"] = "Admin Page - The Secret Garden";
    
    <h1>Admin Page. Guests Not Allowed!</h1>
    <p>This is the admin page and guests are not allowed to visit without authorization.</p>
    <p>If you are an admin then please login</p>
    <div class="admin-btn-container not-allowed">
        <a asp-action="Index" asp-controller="Home" class="user-info-link login">Home Page</a>
        @if (Context.User.Identity.IsAuthenticated)
        {
            <a asp-action="Logout" asp-controller="Login" class="user-info-link login">Logout</a>
        }
        else
        {
            <a asp-action="LogoutAccount" asp-controller="Signup" class="user-info-link login">Logout</a>
        }
    </div>
}