@model Customer
@inject IHttpContextAccessor _contextAccessor;
@{
    var id = TempData["id"] as string;
    var name = TempData["name"] as string;
    var username = TempData["username"] as string;
    var email = TempData["email"] as string;
    var password = TempData["password"] as string;
    var dateregistered = TempData["dateregistered"] as string;
    var state = TempData["state"] as string;
}

<h3>Are you sure you want to logout?</h3>

<form asp-action="LogoutAccount" asp-controller="Signup" class="admin-create-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="ActiveState" class="form-control" value="inactive" type="hidden" />
    </div>
    <div class="form-group">
        <input type="submit" value="Yes" />
    </div>
</form>