@{
    Layout = "_NotAllowed";
    ViewData["Title"] = "Order Completed - The Secret Garden";
}

<h2>Order Completed Successfully</h2>
<p>Please wait for a few business days until your books arrive.</p>
<p>Thank you for your patience!</p>
<div class="admin-btn-container not-allowed">
    <a asp-action="Index" asp-controller="Home" class="user-info-link login">Home Page</a>
    <a asp-action="YourOrder" asp-controller="Order" class="user-info-link login">Your Order</a>
</div>